/***** FOOTER *****/
* {
  font-family: 'system-ui', sans-serif;
}

#header {
    position : relative;
    z-index:  1;
    width: 100vw;
    height: 50px;
    background-color: #000000;
    font-size: 15px;
    display: flex; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

#header ul {
    align-self: center;
    justify-self: center;
    padding-right: 20px ;
}

#header ul li {
    display: inline;
    margin: 7px;
    color: #FFFFFF;
}

#header a {
    text-decoration: none;
    color: #FFFFFF;
}

#header a:hover {
    text-decoration: underline;
}

#Header_Logo{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: flex;
}

#Header_Logo p {
  margin: auto;
}

#Header_Logo img {
  height: 35px;
  width: 40px;
  padding: 7px;
}

#Header_Menu{
    /*: flex;
    flex-direction: row;
    justify-content: space-between;*/
    color: #FFFFFF;
    font-size: 15px;
    align-self: center;
    justify-self: center;
    width: 60%;
}

#Header_Menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
#Header_Menu li{
    padding-right: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.refbtn{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus, .refbtn:hover{
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


/**Buttons**/
button a {
  text-decoration: none;
  color:#000000;
}

button {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  margin: auto;
}

button:hover, #my_team a:hover  {
  color: #A62C8B;
  font-weight: 500;
}