*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'system-ui', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    position : relative;
    height : 100vh;
    width: 100%;
    padding: 0 8%;
    background: linear-gradient(rgba(0,0,0, .4), transparent), url(./img/Background_organisateurs_entraineurs.jpg) center center no-repeat;
    background-size: cover;

}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

#navbar .logo{
    width: 120px;
    cursor: pointer;
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    color: #C0A33D;
}

#navbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

#navbar ul li{
    margin-right: 10px;
}

#navbar ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: #C0A33D;
    font-size: 16px;
}

button.btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    background-color: transparent;
    color: #C0A33D;
    border: 1px solid transparent;
    transition: border-color .3s;
}

button.btn:hover{
    border-color: #C0A33D;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.form-wrapper .card{
    width:360px;
    padding: 20px;
    background-color: rgb(214 198 141 /15%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.card.show{
    visibility: visible;
    opacity: 1;
}

.card-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #C0A33D;
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
}

.card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active{
    box-shadow: inset 1px 1px 2px rgb(236 196 54 / 55%), inset -1px 1px 2px rgb(236 196 54 / 55%), 
    inset -1px -1px 2px rgb(236 196 54/55%), inset 1px -1px 2px rgb(236 196 54/55%);
    border-color: #C0A33D;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body{
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form{
    flex: 0 0 100%;
}

.toggleForm{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(236 196 54 / 65%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #ffff;
}

.form-control::placeholder{
    color: rgb(236 196 54 / 65%);
}

.formButton{
    border: 1px solid transparent;
    padding: 1rem 3rem;
    background-color: #C0A33D;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.formButton:hover{
    box-shadow: 3px 5px 15px #C0A33D;
    transform: translateY(-5px);
}