* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./img/fond_noir.jpg');
}


/******FOOTBALL PLAYER PAGES******/


/*** Football Player Picture ***/

.football_player_image_container {
    width: 600px;
    height: 900px;
    left: 50px;
    position: relative;
    padding: 60px;
}

.football_player_image {
    max-width: 100%;
    max-height: 100%;
}


/*** Football Player Content Container ***/

input:placeholder-shown {
    font-style: italic;
 } 

/** Container **/
.football_player_content_container {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 30px 40px 55px 40px;
    background-color: rgb(50, 48, 48);
    border: solid #A62C8B;
    border-radius: 15%;
   }



/* General title */
.football_player_content_container h1 {
    text-align: center;
    margin: 25px 0px 35px 0px;

    color: #FFFFFF;
}

.add_player_container{
    display: flex;
    flex-direction: column;
}

#add_player_form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.add_player_inputs{
    padding-bottom: 5px;
    width: 50%;
    
}

/** Sections **/
.football_player_content_section {
    padding-bottom: 20px;
}

.football_player_content_container h2 {
    padding-bottom: 15px;
    color: #FFFFFF;
}

.football_player_content_section p, .football_player_content_section label, .football_player_content_section ul li {
    color: #FFFFFF;
    font-size: 19px;
}

.football_player_content_section input, .football_player_content_section select {
    font-size: 17px;
    padding: 5px;
    border-radius: 10px;
}

/* Subsections */
.football_player_content_subsection {
    margin-bottom: 10px;
}

.football_player_content_subsection p {
    margin-bottom: 10px;
    display: inline;
}

/* Submit Buttons */
.submit_button {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.submit_button:hover {
    color: #A62C8B;
    font-weight: 500;
}



/*** Feuille Match ***/
#teams {
    display: flex;
    flex-direction: row;
}

#equipe2 {
    padding-left: 30px;
}
